
@using EPiServer.Web.Mvc.Html
@using Optimizely002.Models.ViewModels

@model StartPageViewModel


<h1>@Model.CurrentPage.Heading</h1>
<h1>@Html.PropertyFor(x => x.CurrentPage.Heading)</h1>


<h1>@Html.Raw(@Model.CurrentPage.Preamble)</h1>
<h1>@Html.Raw(@Model.CurrentPage.MainBody)</h1>


<img src="@Url.ContentUrl(Model.CurrentPage.Image)" />

@* Line to type out the name of the page. *@
<h1>@Model.Layout.StartPage.Name</h1>

<h1>@Model.Layout.SettingsPage.Name</h1>


@* render viewcomponent *@
@await Component.InvokeAsync("Carousel")

@* render block *@
@Html.PropertyFor(model => model.CurrentPage.Carousel)